Repository Il-Libro-Open-Source/book: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, update-date-conference

lefthook.yml:

colors: true
pre-commit:
  commands:
    prettier:
      glob: "*.md"
      run: npm run format:write:automation {staged_files}
    update-date-conference:
      glob: "docs/it/formazione/conferenze.md"
      run: ./.lefthook/update-date-conference.sh
commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash
pre-push:
  commands:
    format-check:
      glob: "*.md"
      run: npm run format:check

feat(pre-commit): fix sh script pre-commit and chapter conferenze
  .lefthook/update-date-conference.sh
  docs/it/formazione/conferenze.md
  lefthook.yml
Due: prettier, update-date-conference

feat(pre-commit): :heavy_plus_sign: added new chapter DevOps
  docs/it/cultura/devops.md
Due: prettier

added digital design days
  docs/it/formazione/conferenze.md
Due: prettier, update-date-conference

Update leadership.md
  docs/it/leadership.md
Due: prettier

aggiunte altre conferenze e link eventitech. come suggerimento da comento di @davideimola
  docs/it/formazione/conferenze.md
Due: prettier, update-date-conference

feat: aggiunta capitolo leadership e formattazione
  docs/it/carriera/come-affrontare-l-eta-nel-mondo-it.md
  docs/it/carriera/community-e-networking.md
  docs/it/carriera/leadership.md
  docs/it/cultura/documentazione.md
  docs/it/leadership.md
  docs/it/sviluppo/refactoring.md
Due: prettier

Capitolo Leadership (#231)
  docs/it/carriera/come-affrontare-l-eta-nel-mondo-it.md
  docs/it/carriera/community-e-networking.md
  docs/it/carriera/leadership.md
Due: prettier

chore: titolo lowercase
  docs/it/carriera/leadership.md
Due: prettier

fix: correct typo
  docs/it/cultura/documentazione.md
  package-lock.json
Due: prettier

Fix typo on "Documentazione" chapter (#268)
  docs/it/cultura/documentazione.md
  package-lock.json
Due: prettier

feat(gha): trigger epub generation
  .github/workflows/dispatch-epub-build.yml
Due: none

fix(md): format
  docs/it/sviluppo/design-pattern.md
Due: prettier

sistemati typo
  docs/it/formazione/conferenze.md
Due: prettier, update-date-conference

Update .github/workflows/dispatch-epub-build.yml
  .github/workflows/dispatch-epub-build.yml
Due: none

Workflow per la generazione dell'epub (#269)
  .github/workflows/dispatch-epub-build.yml
  docs/it/sviluppo/design-pattern.md
Due: prettier

chore: rimosso permesso suggerito
  .github/workflows/dispatch-epub-build.yml
Due: none

chore: aggiunto link a repo epub
  README.md
Due: prettier

➕ aggiunta capitolo conferenze (#266)
  .lefthook/update-date-conference.sh
  docs/it/formazione/conferenze.md
  lefthook.yml
Due: prettier, update-date-conference

chore: linting
  docs/it/formazione/conferenze.md
Due: prettier, update-date-conference

➕ aggiunta capitolo conferenze (#266) (#272)
  .lefthook/update-date-conference.sh
  docs/it/formazione/conferenze.md
  lefthook.yml
Due: prettier, update-date-conference

chore: rinominato titolo per non influire su layout
  docs/it/formazione/conferenze.md
Due: prettier, update-date-conference

feat: nuova versione del capitolo devops
  docs/it/cultura/devops.md
Due: prettier

fix: alcuni fix
  docs/it/cultura/devops.md
Due: prettier

chore: corrette dipendenze ed aggiunta argomenti capitolo
  Gemfile.lock
  docs/it/il-mio-software-open-source.md
  docs/it/sviluppo/il-mio-software-open-source.md
  package-lock.json
Due: prettier

introdotto prefazione sul passato
  docs/it/cultura/devops.md
Due: prettier

docs: aggiunto link podcast in readme
  README.md
Due: prettier

apportate modifihce e miglioramenti
  docs/it/cultura/devops.md
Due: prettier

chore: remove AMBASSADORS.md and notes/README.md; update README.md for clarity
  AMBASSADORS.md
  README.md
  notes/README.md
Due: prettier

chore: linting
  README.md
Due: prettier

fix: typo
  docs/it/cultura/documentazione.md
Due: prettier

fix: typos in conferenze.md and readme.md
  README.md
  docs/it/formazione/conferenze.md
Due: prettier, update-date-conference

docs: aggiorna capitolo AI con contenuti 2026 e AI Act
  docs/it/altro/ai.md
Due: prettier

fix: typo in conferenze.md and readme (#276)
  README.md
  docs/it/formazione/conferenze.md
Due: prettier, update-date-conference

docs: aggiungi sezione sulla Mixture of Experts (MoE) in ai.md
  docs/it/altro/ai.md
Due: prettier

docs: aggiorna tabella delle architetture software per maggiore chiarezza
  docs/it/sviluppo/architetture-software.md
Due: prettier
